#transactionHistory .negative.button {
	margin-top: 14px;
	margin-right: 10px;
}

#footer .column {
	padding: 4em 0 3em;
}
#links {
	text-align: right;
}

@media screen and (max-width: 767px) {
	#brand {
		display: none;
	}
	#footer .column {
		text-align: center;
	}
	#credits {
		padding: 3em 0 1em !important;
	}
	#links {
		padding: 0 0 3em !important;
	}
}
